// корпоративные цвета
$green-color: #0d6e43;
$light-grey-color: #f2f2f2;
$dark-grey-color: #969f9b;
$black-color: #000000;
$white-color: #ffffff;
$pink-color: #d99696;
$red-color: #a71c1c;

// font family
$font-family: "Manrope";

// font-size
$font-size-h1: 40px;
$font-size-large: 24px;
$font-size-medium: 14px;
$font-size-small: 12px;

// line-height
$line-height-h1: 55px;
$line-height-large: 24px;
$line-height-medium: 20px;
$line-height-small: 16px;

// font-weight
$font-weight-h1: 700;
$font-weight-large: 500;
$font-weight-medium: 500;
$font-weight-small: 500;
