.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loader::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 32px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: loader 1.2s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    border-width: 4px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 32px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 4px;
  }
}
