@import "app/styles/variables";

.button {
  max-width: 100%;
  height: 44px;
  background-color: $green-color;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #00c985;
}

.button:focus {
  background-color: #66ab5b;
}

.button:disabled {
  opacity: 0.3;
}
