@import "app/styles/variables";
@import "app/styles/mixins";

.wrapper {
  .title {
    @include text-large;
  }

  .listWrapper {
    margin-top: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: $light-grey-color;

    .list {
      gap: 12px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .listItem {
        display: flex;
        flex-direction: column;
        width: calc(33.333% - 12px);

        .listItemTitle {
          @include text-medium($color: $dark-grey-color);
        }

        .listItemValue {
          @include text-medium;
          color: #131316;
        }
      }
    }
  }
}

@include for-phone-only {
  .wrapper {
    .listWrapper {
      .list {
        flex-direction: column;

        .listItem {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }
}
