@import "app/styles/variables";
@import "app/styles/mixins";

.root {
  display: flex;
  height: 100%;
  width: 100%;

  nav {
    width: 22rem;
    background-color: $light-grey-color;
  }

  ul {
    list-style-type: none;

    li {
      padding: 10px 0px;
      @include text-medium;
    }

    a.active {
      color: $green-color;
    }
  }
}

.mobileRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  nav {
    background-color: $light-grey-color;

    ul {
      display: flex;
      list-style-type: none;

      li {
        padding: 10px;
        @include text-large;
      }

      a.active {
        color: $green-color;
      }
    }
  }
}
