@import "app/styles/variables";

.wrapper {
  transform: translateX(100%);
  background-color: $pink-color;
  color: $red-color;
  padding: 20px;
  border-radius: 20px;
  animation: slideIn 0.3s ease-in-out forwards;
  transition: all 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
