@import "app/styles/variables";

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  margin-top: 20px;
  padding: 20px;
  background-color: $light-grey-color;
  border-radius: 20px;
}
