@import "app/styles/variables";

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableWrapper {
  overflow-y: auto;

  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: left;

    thead {
      tr {
        display: flex;
        align-items: center;
        width: 100%;

        th {
          padding: 10px;
        }
      }
    }

    tbody {
      display: block;
      overflow-y: scroll;
      height: 500px;

      tr {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;

        &:hover {
          background: $dark-grey-color;
          border-radius: 10px;
          transition: all 0.2s ease-in;
        }

        td {
          padding: 10px;
        }
      }
    }
  }
}
